.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}

.bg {
    width: 100%;
    opacity: 0.6;
    object-fit: cover;
    background: linear-gradient(top, #1e2538 5%, rgba(0, 0, 0, 0.4) 100%);
    border-bottom-right-radius: 8px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    box-shadow:
        inset 0px -20px 20px 6px #1E2538,
        0px -12px 10px -10px #1E2538;
    transition: .5s ease-in;
}

.scrollbar-custom::-webkit-scrollbar {
    height: 6px;
    }
.scrollbar-custom{
    rotate: 180deg;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: #1a1e2d;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #3657CB;
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #4e6fff;
}
.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.no-select-context {
    pointer-events: none;
}


.webkit::-webkit-scrollbar{
    display: none;
}

